# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\排序算法基于C++\myproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
